################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyMediatrDemo/MyMediatrDemo/obj/Debug/net8.0
/MyMediatrDemo/MyMediatrDemo/bin/Debug/net8.0
/MyMediatrDemo/MyMediatrDemo/obj
/MyMediatrDemo/.vs/MyMediatrDemo/v17
/MyMediatrDemo/.vs/MyMediatrDemo/DesignTimeBuild
/MyMediatrDemo/MediatrImplementation/obj
/MyMediatrDemo/MediatrImplementation/bin/Debug/netstandard2.0
/MyMediatrDemo/MediatrInfrastructure/obj
/MyMediatrDemo/MediatrInfrastructure/bin/Debug/netstandard2.0
